[Unit]
Description=Haveno seednode
After=network.target

[Service]
User=haveno
Group=haveno
SyslogIdentifier=Haveno-Seednode

# TODO: Insert .onion address with Tor setup script
# HIDDEN_SERVICE="$(sudo cat /var/lib/tor/haveno-seednode/hostname)"
# --hiddenServiceAddress=${HIDDEN_SERVICE}\

# Uncomment & insert --hiddenServiceAddress=  'sudo cat /var/lib/tor/haveno-seednode/hostname'
# $PATH is a placeholder
ExecStart=/bin/sh $PATH/haveno-seednode --baseCurrencyNetwork=XMR_MAINNET\
  --useLocalhostForP2P=false\
  --useDevPrivilegeKeys=false\
#  --hiddenServiceAddress=PLACEHOLDER.onion\
  --nodePort=9992\
  --appName=haveno_seednode
  --xmrNode=http://127.0.0.1:18081\
  --xmrNodeUsername=admin\
  --xmrNodePassword=password

ExecStop=/bin/kill ${MAINPID}
Restart=always

# Hardening
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true


[Install]
WantedBy=multi-user.target
